In [1]:
from warnings import filterwarnings
filterwarnings('ignore')
import os
os.chdir('D:/py/')

In [2]:
import pandas as pd
df= pd.read_csv('spam.csv')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
df.shape

(5572, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
df.describe(include='all')

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [6]:
data = df[['v1', 'v2']]
data.columns = ['label', 'text']

In [7]:
data

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [33]:
df.corr()

Empty DataFrame
Columns: []
Index: []

In [9]:
x=data['text']
y=data['label']

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
encoder = OneHotEncoder(sparse=False, drop='first')
y = encoder.fit_transform(data[["label"]])
y

array([[0.],
       [0.],
       [1.],
       ...,
       [0.],
       [0.],
       [0.]])

In [12]:
tf=TfidfVectorizer()
x1=tf.fit_transform(x).toarray()         #text to numeric    Tfidf
x1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.21, random_state=62)

In [14]:
x_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
y_train

array([[0.],
       [1.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [16]:
from sklearn.linear_model import LogisticRegression
lo=LogisticRegression()

In [17]:
lo.fit(x_train,y_train)

LogisticRegression()

In [18]:
y_pred_train=lo.predict(x_train)
y_pred_train

array([0., 0., 0., ..., 0., 0., 0.])

In [19]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

acc=accuracy_score(y_pred_train,y_train)
print('Accuracy_Score=',acc)

clr=classification_report(y_pred_train,y_train)
print('Classification_report=\n',clr)

cnf=confusion_matrix(y_pred_train,y_train)
print('Confusion_matrix= \n',cnf)

Accuracy_Score= 0.9731879118382186
Classification_report=
               precision    recall  f1-score   support

         0.0       1.00      0.97      0.98      3915
         1.0       0.81      1.00      0.89       486

    accuracy                           0.97      4401
   macro avg       0.90      0.98      0.94      4401
weighted avg       0.98      0.97      0.97      4401

Confusion_matrix=
 [[3799  116]
 [   2  484]]

In [20]:
y_pred_test=lo.predict(x_test)
y_pred_test

array([0., 0., 0., ..., 1., 0., 0.])

In [21]:

acc1=accuracy_score(y_pred_test,y_test)
print('Accuracy_Score=',acc1)

clr1=classification_report(y_pred_test,y_test)
print('Classification_report=\n',clr1)

cnf1=confusion_matrix(y_pred_test,y_test)
print('Confusion_matrix= \n',cnf1)

Accuracy_Score= 0.968403074295474
Classification_report=
               precision    recall  f1-score   support

         0.0       1.00      0.97      0.98      1061
         1.0       0.75      1.00      0.86       110

    accuracy                           0.97      1171
   macro avg       0.87      0.98      0.92      1171
weighted avg       0.98      0.97      0.97      1171

Confusion_matrix=
 [[1024   37]
 [   0  110]]

# unseen data

text=input('Enter the text =  ')

x_text=tf.transform([text])
x_text

model=lo.predict(x_text)
model

if model > 0.5:
    print('spam')
else:
    print('no-spam')

prob=lo.predict_proba(x_text)[:, 1].item() 
prob

In [27]:
if prob > 0.5:
    print('spam')
else:
    print('no-spam')

spam

In [32]:
# unseen data

text=input('Enter the text =  ')
print(text)
print('--'*20)

x_text=tf.transform([text])
print('TFID = \n',x_text)
print('--'*20)

model=lo.predict(x_text)
print('Model= ',model)

if model > 0.5:
    print('spam')
else:
    print('no-spam')
    
print('--'*20)    
print('--'*20)

prob=lo.predict_proba(x_text)[:, 1].item() 
print('probability',prob)

if prob > 0.5:
    print('spam')
else:
    print('no-spam')

Enter the text =  Subject: message from john martin  - - - - - forwarded by cindy derecskey / corp / enron on 10 / 26 / 2000 06 : 32 am - - - - -  " john martin "  10 / 25 / 2000 06 : 58 pm  to :  cc :  subject : re : enron case study  cindy ,  great to hear from you and i look forward to getting our interviews done . i  am answering this from a hotel in seattle so i don ' t have questions for you  at this time but can get them together for you . i will contact vince next  week and get a set of questions together for each of the three individuals  you mentioned . i will have to talk to vince about others who would be of  interest to interview . i really appreciate your help in getting this  together and i ' ll work hard to get everything together for you next week . i  don ' t have vince ' s e - mail address with me here so i would appreciate your  forwarding this message on to him for me .  thanks again ,  john  - - - - - original message - - - - -  from : cindy . derecskey @ enron . com [ mailto : cindy . derecskey @ enron . com ]  sent : wednesday , october 25 , 2000 11 : 23 am  to : j _ martin @ baylor . edu  cc : christie . patrick @ enron . com ; vince . j . kaminski @ enron . com  subject : enron case study  importance : high  good morning mr . martin ,  i would like to introduce myself . i currently work with christie patrick  and michael b rosen in the enron university affairs department .  in recent discussions with christie , she has suggested that i liaise with  you and our management in preparation for your and vince kaminski ' s case  study . christie has forwarded recent emails sent by you suggesting a few  convenient times that work with your schedule . i will work with our  management and do my best to schedule one hour time slots for interviews  that fit with your outline .  initially , i will schedule interviews with : ken lay - chairman and ceo ,  jeff skilling - president and coo , and andy fastow - cfo . if you feel that  you may need to speak with additional management , we will definitely try to  work something out the same day , so you don ' t have to travel back here . i  will forward your project outline to the aforementioned participants once  the interviews are scheduled . do you anticipate drafting specific  questions ? if so , i would greatly appreciate a copy when convenient .  i greatly look forward to working with you and i hope that we can touch  base very soon .  regards ,  cindy derecskey  enron university affairs  ( 713 ) 853 - 5670
Subject: message from john martin  - - - - - forwarded by cindy derecskey / corp / enron on 10 / 26 / 2000 06 : 32 am - - - - -  " john martin "  10 / 25 / 2000 06 : 58 pm  to :  cc :  subject : re : enron case study  cindy ,  great to hear from you and i look forward to getting our interviews done . i  am answering this from a hotel in seattle so i don ' t have questions for you  at this time but can get them together for you . i will contact vince next  week and get a set of questions together for each of the three individuals  you mentioned . i will have to talk to vince about others who would be of  interest to interview . i really appreciate your help in getting this  together and i ' ll work hard to get everything together for you next week . i  don ' t have vince ' s e - mail address with me here so i would appreciate your  forwarding this message on to him for me .  thanks again ,  john  - - - - - original message - - - - -  from : cindy . derecskey @ enron . com [ mailto : cindy . derecskey @ enron . com ]  sent : wednesday , october 25 , 2000 11 : 23 am  to : j _ martin @ baylor . edu  cc : christie . patrick @ enron . com ; vince . j . kaminski @ enron . com  subject : enron case study  importance : high  good morning mr . martin ,  i would like to introduce myself . i currently work with christie patrick  and michael b rosen in the enron university affairs department .  in recent discussions with christie , she has suggested that i liaise with  you and our management in preparation for your and vince kaminski ' s case  study . christie has forwarded recent emails sent by you suggesting a few  convenient times that work with your schedule . i will work with our  management and do my best to schedule one hour time slots for interviews  that fit with your outline .  initially , i will schedule interviews with : ken lay - chairman and ceo ,  jeff skilling - president and coo , and andy fastow - cfo . if you feel that  you may need to speak with additional management , we will definitely try to  work something out the same day , so you don ' t have to travel back here . i  will forward your project outline to the aforementioned participants once  the interviews are scheduled . do you anticipate drafting specific  questions ? if so , i would greatly appreciate a copy when convenient .  i greatly look forward to working with you and i hope that we can touch  base very soon .  regards ,  cindy derecskey  enron university affairs  ( 713 ) 853 - 5670
----------------------------------------
TFID =
   (0, 8590)	0.12454976624514132
  (0, 8584)	0.17283060478863746
  (0, 8479)	0.1374240413192538
  (0, 8461)	0.03976957296196817
  (0, 8457)	0.16103109539596333
  (0, 8408)	0.24072976052416917
  (0, 8377)	0.144328483200142
  (0, 8353)	0.032472474622328516
  (0, 8337)	0.025683894126484048
  (0, 8289)	0.06282072376329706
  (0, 8285)	0.04746200615264196
  (0, 8265)	0.048182514123653125
  (0, 8107)	0.034265381740348905
  (0, 7989)	0.10528641665217485
  (0, 7871)	0.036505801580434226
  (0, 7834)	0.050052607239364694
  (0, 7801)	0.0430333443435021
  (0, 7745)	0.16700486977774961
  (0, 7734)	0.2246905652788777
  (0, 7700)	0.04068387407847157
  (0, 7699)	0.05467349486790171
  (0, 7665)	0.051217497666970604
  (0, 7647)	0.09874233870579859
  (0, 7614)	0.03383057397930538
  (0, 7605)	0.08591396232226312
  :	:
  (0, 1884)	0.13259470431332407
  (0, 1836)	0.04566494561650084
  (0, 1794)	0.05798963710355387
  (0, 1778)	0.022923316164633067
  (0, 1498)	0.03690113643146837
  (0, 1438)	0.023982347462952386
  (0, 1400)	0.054481269048504546
  (0, 1351)	0.029572301159231405
  (0, 1261)	0.023598180984962715
  (0, 1184)	0.022538664335079516
  (0, 1162)	0.1446436395508427
  (0, 1113)	0.051217497666970604
  (0, 1085)	0.20714333429012274
  (0, 1055)	0.08155921854461934
  (0, 971)	0.03463587441575069
  (0, 953)	0.10528641665217485
  (0, 923)	0.04146720586829945
  (0, 860)	0.02940191217016553
  (0, 499)	0.05707187013522727
  (0, 427)	0.051217497666970604
  (0, 422)	0.09642909303389513
  (0, 399)	0.12205162223541471
  (0, 312)	0.0430333443435021
  (0, 297)	0.07586302447910208
  (0, 21)	0.09492401230528393
----------------------------------------
Model=  [0.]
no-spam
----------------------------------------
----------------------------------------
probability 0.16400339696766514
no-spam